.vscode
*.ipynb_checkpoints
*.pyc
__pycache__/
.DS_Store
.idea/
data/train/
data/dev/
data/test/
*.mp4
*.json
shell.py
slurm/
exp_logs/
config_local.yaml
config_coco_local.yaml
logs/
*.zip
data/mscoco/